/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.verde{
  color: rgb(35, 150, 0);
}

.amarelo{
  color: rgb(240, 255, 30);

}

.red{
  color: red;
}

.v-middle{
  vertical-align: middle;
}
